<div class="{{ classPageContent }}__wrapper {{ classPageContent }}__wrap-help-message">
    <div class="sk-help-message">
        {{ __( 'This commitment does not exist', THEME_TD ) }}
    </div>
</div>