@import "resources/scss/theme/mixins/all";

.wp-block .text-two-columns,
.text-two-columns {
  position: relative;
  padding: 48px 0;

  @include breakpoint-down(sm) {
    padding: 0 0 32px;
  }

  &-inner-section {
    padding: 64px 0 53px;
    background: var(--sk-color-yellow-300);

    @include breakpoint-up(sm) {
      padding: 96px 0 114px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  &-row {
    display: flex;
    gap: 64px;

    @include breakpoint-down(md) {
      flex-direction: column;
      gap: 6px;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: var(--sk-color-third);
    max-width: 768px;

    @include breakpoint-down(md) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  &-heading {
    margin-bottom: 64px;

    @include breakpoint-down(md) {
      margin-bottom: 12px;
    }
  }

  &-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--sk-text-primary);
    margin-bottom: 12px;
  }

  &-text {
    width: 100%;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: var(--sk-text-primary-dark);

      @include breakpoint-down(md) {
        color: var(--sk-color-text);

        &:first-child {
          margin-bottom: 12px;
        }
      }
    }
  }
}
