<h3>Additional blocks</h3>

{% include "parts/components/round-block.twig" with { title: 'Commitment 1' } %}


{% include "parts/components/round-block.twig" with { title: 'M 1.1', type: 'sm' } %}

<hr>
