<style>
  .svg-example {
    padding: 20px 0;
  }

  .svg-example svg {
    height: 20px;
    width: 20px;
  }
</style>

<h3>SVG</h3>
<div class="svg-example">
  <svg><use href="#icon-search-input"></use></svg>
  <svg><use href="#icon-help-circle"></use></svg>
  <svg><use href="#icon-download"></use></svg>
  <svg><use href="#icon-download-2"></use></svg>
  <svg><use href="#icon-filter"></use></svg>
  <svg><use href="#icon-close"></use></svg>
  <svg><use href="#icon-chevron-down"></use></svg>
  <svg><use href="#icon-arrow-down"></use></svg>
  <svg><use href="#icon-arrow-right"></use></svg>
  <svg><use href="#icon-check"></use></svg>
  <svg><use href="#icon-refresh"></use></svg>
  <svg><use href="#icon-minus-circle"></use></svg>
  <svg><use href="#icon-plus-circle"></use></svg>
  <svg><use href="#icon-arrow-top"></use></svg>
  <svg><use href="#icon-arrow-bottom-blue"></use></svg>
</div>

<hr />
