<h3>Tooltip</h3>
<div style="display: flex; justify-content: space-between;">
	{% include 'parts/components/tooltip.twig' with {
        title: 'Downloads',
        text: 'Qui nesciunt eos quia molestiae et numquam perferendis ut. Molestiae placeat itaque. Animi odio id provident voluptas officiis ipsam non. '
    } only %}

	{% include 'parts/components/tooltip.twig' with {
        title: 'Downloads',
        text: 'Qui nesciunt eos quia molestiae et numquam perferendis ut. Molestiae placeat itaque. Animi odio id provident voluptas officiis ipsam non. '
    } only %}
</div>

<hr>
