{% extends "base.twig" %}

{% block content %}

	<div class="sk-container">

		<h1>Components</h1>

		{% include '_buttons.twig' %}
		{% include "_blockquote.twig" %}
		{% include "_list.twig" %}
		{% include "_checkbox.twig" %}
		{% include "_input.twig" %}
		{% include "_textarea.twig" %}
		{% include "_search-input.twig" %}
		{% include "_icons.twig" %}
		{% include "_tooltip.twig" %}
		{% include "_accordion.twig" %}
		{% include "_table.twig" %}
		{% include "_addit-blocks.twig" %}
		{% include "_select.twig" %}
		{% include "_tabs.twig" %}
		{% include "_dropdown.twig" %}
	</div>

{% endblock %}
